<h2 style="margin-top: 10px ;">Olá, {{ username }}</h2>
<p style="margin-top: 10px ;">Abaixo está sua nova senha</p>

<p style="margin-top: 10px ;"><strong>Senha:</strong>
  {{ password }}</p>

<p style="margin-top: 10px ;">Não se esqueça de alterá-la no aplicativo.</p>
